<template>
  <article class="blog-article">
    <div class="blog-article__header">
      <div class="blog-article__date">
        <div class="blog-article__month-container"><span class="blog-article__month">{{blog.date.month}}</span></div>
        <span class="blog-article__day">{{blog.date.day}}</span>
      </div>
      <h3 class="blog-article__title">{{blog.title}}<span class="blog-article__bottom_border"></span></h3>
    </div>
    <div class="blog-article__body">
      <p class="blog-article__content">{{contentSm}}</p>
      <div class="blog-article__btn"><a class="btn" :href="blog.link">читать</a></div>
    </div>
  </article>
</template>

<script>
  export default {
    props: ['blog', 'isLg'],
    data () {
      return {}
    },
    computed: {
      contentSm () {
        if (this.isLg) {
          if (this.blog.content.length > 500) {
            return this.blog.content.substr(0, 500) + ' ...'
          }
          return this.blog.content
        } else {
          return this.blog.content.substr(0, 150) + ' ...'
        }
      }
    },
    methods: {}
  }
</script>

<style lang="scss">
  @import "../../assets/setting.scss";

  .blog-article {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    &__header {
      display: flex;
      @media (max-width: $media-xs - 1) and (orientation: portrait) {
        flex-direction: column;
      }
    }
    &__date {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: $media-sm) {
        height: 105px;
        width: 180px;
        flex-shrink: 0;
      }
    }
    &__day {
      font-size: 100px;
      line-height: 75px;
      font-family: SFUIDisplay Bold;
      color: rgb(48, 89, 179);
      text-transform: uppercase;
      @media (min-width: $media-sm) {
        font-size: 139px;
        line-height: 105px;
      }
    }
    &__month-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    &__month {
      align-self: center;
      z-index: 1;
      font-family: SFUIDisplay Bold;
      color: #ffffff;
      font-size: 18px;
      letter-spacing: 1.8px;
      text-align: center;
      text-transform: uppercase;
      @media (min-width: $media-sm) {
        font-size: 24px;
      }
    }
    &__body,
    &__header {
      padding: 0 15px;
    }
    &__title {
      margin: 0;
      font-family: SFUIDisplay Bold;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 1.8px;
      margin-top: 15px;
      @media (min-width: $media-sm) {
        font-size: 18px;
        margin-top: 0;
      }
      @media (min-width: $media-md) {
        font-size: 24px;
      }
    }
    &__bottom_border {
      display: block;
      flex-shrink: 0;
      height: 2px;
      width: 70px;
      margin-top: 15px;
      background-color: #fff;
      @media (min-width: $media-sm) {
        margin-top: 26px;
      }
    }
    &__content {
      margin: 15px 0 0;
      font-family: SFUIDisplay Thin;
      color: #ffffff;
      font-size: 14px;
      line-height: 24px;
      text-align: justify;
      @media (min-width: $media-sm) {
        font-size: 16px;
      }
      @media (min-width: $media-sm) {
        margin: 35px 0 0;
      }
      @media (min-width: $media-lg) {
        padding-left: 180px;
      }
    }
    &__btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      @media (min-width: $media-sm) {
        margin-top: 40px;
      }
      .btn {
        letter-spacing: 1.8px;
        padding: 14px 24px;
        @media (min-width: $media-md) {
          padding: 18px 35px;
          font-size: 24px;
        }
      }
    }
  }
</style>
