<template>
<span class="copyright">{{$store.state.contacts.copyright}}</span>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import "../assets/setting.scss";
.copyright {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    font-family: SFUIDisplay Thin;
    color: rgb(70, 128, 255);
    line-height: 1.2;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    @media (min-width: $media-sm) {
        right: 15px;
        bottom: 15px;
    }
    @media (min-width: $media-md) {
        right: 30px;
        bottom: 30px;
    }
    @media (min-width: $media-lg) {
        right: 60px;
        bottom: 60px;
    }
}
</style>
