<template>
<nav class="nav">
  <transition-group name="nav__item" tag="ul" class="nav__list">
    <li class="nav__item" v-for="(item, index) in $store.state.nav.navigation" key="index">
      <router-link class="nav__link" :to="{ name: item.name}" :style="{color: (item.name == $route.name) ? $store.state.colors.colorNav.title : $store.state.colors.colorNav.item}">{{'0' + (index + 1)}}</router-link>
      <transition name="nav__title">
        <h1 class="nav__title" v-show="item.name == $route.name && $route.name != 'index' && $store.state.scroll.isEnd" :style="{color: $store.state.colors.colorNav.title}">{{item.alias}}</h1>
      </transition>
    </li>
  </transition-group>
</nav>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '../assets/setting.scss';
.nav {
    display: flex;
    align-items: center;
    height: 100%;
    left: 10px;
    z-index: 8;
    position: absolute;
    @media (min-width: $media-sm) {
        left: 15px;
    }
    @media (min-width: $media-md) {
        left: 30px;
    }
    @media (min-width: $media-lg) {
        left: 60px;
    }
    &__list {
        display: table-cell;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__link {
        color: rgb(64, 193, 255);
        font-family: SFUIDisplay Bold;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.5px;
        text-decoration: none;
    }
    &__title {
        display: none;
        @media (min-height: 800px) {
            display: block;
            position: relative;
            color: #fff;
            margin: 0;
            letter-spacing: 7px;
            font-family: SFUIDisplay Bold;
            line-height: 40px;
            text-transform: uppercase;
            transform: rotate(180deg);
            writing-mode: vertical-rl;
            font-size: 40px;
            left: -3px;
            padding-top: 22px;
            padding-bottom: 29px;
        }
        @media (min-height: 1025px) {
            font-size: 60px;
            left: 3px;
            padding-top: 52px;
            padding-bottom: 59px;
        }
    }
    & .nuxt-link-exact-active {
        color: #fff;
    }
}

.nav__item-move {
    transition: transform 0.4s;
}
.nav__title-enter-active {
    transition: opacity 0.4s;
}
.nav__title-enter {
    opacity: 0;
}
</style>
