<template>
<div class="logo">
  <router-link :to="{ name: 'index'}">
    <svg viewBox="0 0 60 52" :style="{fill: $store.state.colors.color}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
    </svg>
  </router-link>
</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '../assets/setting.scss';
.logo {
    position: absolute;
    left: 8px;
    top: 10px;
    z-index: 9;
    fill: #fff;
    cursor: pointer;
    svg {
        transition-property: transform, fill;
        transition-duration: 0.5s;
        width: (60px / 1.5);
        @media (min-width: $media-sm) {
            width: 60px;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    @media (min-width: $media-sm) {
        top: 15px;
    }
    @media (min-width: $media-md) {
        left: 22px;
        top: 30px;
    }
    @media (min-width: $media-lg) {
        left: 52px;
        top: 60px;
    }
}
</style>
