<template>
  <div class="mail">
    <router-link :to="{ name: 'contacts'}">
      <svg width="26px" height="20px" viewBox="0 0 26 20" :style="{fill: $store.state.colors.color}"
           @mouseenter="toggleTooltip" @mouseleave="toggleTooltip">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon_email"></use>
      </svg>
    </router-link>
    <transition name="tooltip-fade">
      <div class="mail__tooltip" v-show="isHover">
        <div class="mail__romb"></div>
        <p class="mail__text">{{$store.state.toltip.text}}</p>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        isHover: false
      }
    },
    methods: {
      toggleTooltip: function () {
        this.isHover = !this.isHover
      }
    }
  }
</script>

<style lang="scss">
  @import '../assets/setting.scss';

  .mail {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 10;
    fill: #fff;
    cursor: pointer;
    svg {
      transition-property: fill;
      transition-duration: 0.5s;
    }
    @media (min-width: $media-sm) {
      right: 15px;
      top: 55px;
    }
    @media (min-width: $media-md) {
      right: 30px;
      top: 70px;
    }
    @media (min-width: $media-lg) {
      right: 60px;
      top: 100px;
    }
    &__tooltip {
      display: flex;
      align-items: center;
      width: 150px;
      position: absolute;
      left: -170px;
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.45);
    }
    &__text {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 15px 14px;
      font-family: SFUIDisplay Regular;
      color: #565656;
      font-size: 16px;
      text-align: justify;
      background-color: #fff;
    }
    &__romb {
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: 1;
      right: -5px;
      background-color: #fff;
      transform: rotateZ(45deg);
    }
  }

  .tooltip-fade-enter-active,
  .tooltip-fade-leave-active {
    transition: opacity 0.5s;
  }

  /* .fade-leave-active до версии 2.1.8 */
  .tooltip-fade-enter,
  .tooltip-fade-leave-to {
    opacity: 0;
  }
</style>
