<template>
  <div class="menu" @click="toggleMenu">
    <svg class="menu__hamburger" width="26px" height="20px" viewBox="0 0 26 20"
         :style="{fill: $store.state.colors.color, stroke: $store.state.colors.color}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#hamburger"></use>
    </svg>
    <svg class="menu__hamburger" width="26px" height="20px" viewBox="0 0 26 20" v-show="menuIsOpen"
         :style="{'stroke': $store.state.colors.colorMenuList}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
    </svg>
    <transition v-on:before-enter="beforeOpenMenu" v-on:enter="openMenu" v-on:after-enter="afterOpenMenu"
                v-on:before-leave="beforeCloseMenu" v-on:leave="closeMenu" :css="false">
      <div class="menu__full-screen" v-show="menuIsOpen" :style="{'background-color': $store.state.colors.color}">
        <transition-group tag="ul" :css="false" class="menu__nav" v-on:before-enter="beforeOpenList"
                          v-on:enter="openList" v-on:after-enter="afterOpenList" v-on:leave="closeList"
                          v-on:after-leave="afterCloseList">
          <li class="menu__item" v-for="(item, index) in $store.state.nav.navigation" key="item" v-show="navIsOpen">
            <router-link :to="{ name: item.name}" :style="{'color': $store.state.colors.colorMenuList}">{{item.alias}}
            </router-link>
          </li>
        </transition-group>
        <div class="politic" ref="politic"><a class="politic__link" href="#" :style="{'color': $store.state.colors.colorMenuList}">Политика в отношении обработки персональных данных</a>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  let Velocity
  if (process.browser) {
    Velocity = require('velocity-animate')
  }
  export default {
    data () {
      return {
        navIsOpen: false,
        menuIsOpen: false,
        navIsFinishOpen: false,
        windowWidth: null,
        windowHeight: null,
        listDelay: 0,
        listNumber: 1,
        timeMenu: 500,
        timeList: 300
      }
    },
    methods: {
      toggleMenu: function () {
        if (!this.menuIsOpen) {
          this.menuIsOpen = true
        }
        if (this.navIsFinishOpen) {
          this.navIsOpen = false
        }
      },
      beforeOpenMenu: function (el) {
        this.windowWidth = window.innerWidth
        this.windowHeight = window.innerHeight
        el.style.width = '5px'
        el.style.height = '5px'
        el.style.transform = 'scale(1)'
      },
      openMenu: function (el, done) {
        Velocity(el, {
          width: ((this.windowWidth > this.windowHeight) ? this.windowWidth : this.windowHeight) / 20 + 'px',
          height: ((this.windowWidth > this.windowHeight) ? this.windowWidth : this.windowHeight) / 20 + 'px',
          scale: '50'
        }, {
          duration: this.duration,
          complete: done
        })
      },
      afterOpenMenu: function (el) {
        el.style.position = 'fixed'
        el.style.width = '100%'
        el.style.height = '100%'
        el.style.transform = 'scale(1)'
        el.style.borderRadius = 0
        this.navIsOpen = true
        this.$refs.politic.style.display = 'flex'
      },
      beforeCloseMenu: function (el) {
        el.style.position = 'absolute'
        el.style.width = ((this.windowWidth > this.windowHeight) ? this.windowWidth : this.windowHeight) / 20 + 'px'
        el.style.height = ((this.windowWidth > this.windowHeight) ? this.windowWidth : this.windowHeight) / 20 + 'px'
        el.style.transform = 'scale(50)'
        el.style.borderRadius = '50%'
        this.$refs.politic.style.display = 'none'
      },
      closeMenu: function (el, done) {
        Velocity(el, {
          width: '5px',
          height: '5px',
          scale: '1'
        }, {
          duration: this.duration,
          complete: done
        })
      },
      beforeOpenList: function (el) {
        el.style.opacity = 0
        Velocity.hook(el, 'translateY', '100px')
        this.navIsFinishOpen = false
      },
      openList: function (el, done) {
        setTimeout(() => {
          Velocity(el, {
            opacity: 1,
            translateY: '0px'
          }, {
            duration: this.timeList,
            complete: () => {
              this.listNumber++
              if (this.listNumber > 5) {
                done()
              }
            }
          })
        }, this.listDelay)
        this.listDelay += this.listNumber * 150
      },
      afterOpenList: function (el) {
        this.listNumber = 1
        this.navIsFinishOpen = true
      },
      closeList: function (el, done) {
        Velocity(el, {
          opacity: 0
        }, {
          duration: 300,
          complete: () => {
            this.listNumber++
            if (this.listNumber > 5) {
              done()
            }
          }
        })
      },
      afterCloseList: function (el) {
        this.listDelay = 0
        this.listNumber = 1
        this.menuIsOpen = false
      }
    }
  }
</script>

<style lang="scss">
  @import '../assets/setting.scss';

  .menu {
    width: 26px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11;
    fill: #fff;
    @media (min-width: $media-sm) {
      right: 15px;
      top: 15px;
    }
    @media (min-width: $media-md) {
      right: 30px;
      top: 30px;
    }
    @media (min-width: $media-lg) {
      right: 60px;
      top: 60px;
    }
    &__hamburger {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      transition-property: fill;
      transition-duration: 0.5s;
    }
    &__full-screen {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: rgb(24, 157, 251);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__nav {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      list-style: none;
    }
    &__item {
      text-align: center;
      .nuxt-link-exact-active {
        transform: scale(1.3);
        font-family: SFUIDisplay Bold;
      }
      & a {
        transition: transform 0.5s;
        display: inline-block;
        font-family: SFUIDisplay Medium;
        color: #fff;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 7px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        @media (min-width: $media-sm) {
          line-height: 50px;
          font-size: 40px;
        }
        &:hover {
          transform: scale(1.3);
          font-family: SFUIDisplay Bold;
        }
      }
    }
    .politic {
      display: none;
      justify-content: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
      &__link {
        font-family: SFUIDisplay Medium;
        text-align: center;
      }
    }
  }
</style>
