<template>
<div class="paw" :class="{'paw_neon': $store.state.paw.isThemeNeon}" @click="$store.commit('paw/themeChange')">
  <svg width="30px" height="27px" viewBox="0 0 30 27">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-paw"></use>
  </svg>

</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import '../assets/setting.scss';
.paw {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    fill: #fff;
    cursor: pointer;
    @media (min-width: $media-sm) {
        left: 15px;
        top: 15px;
    }
    @media (min-width: $media-md) {
        left: 30px;
        top: 30px;
    }
    @media (min-width: $media-lg) {
        left: 60px;
        top: 60px;
    }
    svg {
        transition: transform 0.3s;
        @media (min-width: $media-sm) {
            &:hover {
                transform: scale(1.3);
            }
        }
    }
}
</style>
