<template>
<transition name="scroll-fade">
  <div class="scrollPosition" v-show="!this.$store.state.scroll.isEnd"></div>
</transition>
</template>

<script>
export default {
  data() {
    return {
      size: 40
    }
  },
  methods: {
    showScroll: function(event) {
      var style = this.$el.style
      style.width = this.size + 'px'
      style.height = this.size + 'px'
      style.left = event.x - (this.size / 2) + 'px'
      style.top = event.y - (this.size / 2) + 'px'
    }
  },
  mounted() {
    this.$root.$el.addEventListener('wheel', this.showScroll)
  },
  beforeDestroy() {
    this.$root.$el.removeEventListener('wheel', this.showScroll);
  }
}
</script>

<style lang="scss">
.scrollPosition {
    position: fixed;
    z-index: 100;
    background-color: red;
    border-radius: 50%;
}
.scroll-fade-enter-active {
    transition: opacity 0s step-start;
}

.scroll-fade-leave-active {
    transition: opacity 0.4s ease-in;
}

.scroll-fade-enter {
    opacity: 0.5;
}

.scroll-fade-leave-to {
    opacity: 0;
}
</style>
