<template>
  <div class="arrow">
    <button class="arrow__left" @click="prevSlide" :style="{'border-color': $store.state.colors.color}">
      <svg viewBox="0 0 20 33" :style="{fill: $store.state.colors.color}">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
      </svg>
    </button>
    <button class="arrow__right" @click="nextSlide" :style="{'border-color': $store.state.colors.color}">
      <svg viewBox="0 0 20 33" :style="{fill: $store.state.colors.color}">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
      </svg>
    </button>
  </div>
</template>

<script>
  export default {
    props: ['prevSlide', 'nextSlide']
  }
</script>

<style lang="scss">
  @import "../assets/setting.scss";

  .arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 0;
    @media (min-width: $media-xl) {
      right: 60px;
    }
    &__left,
    &__right {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
      background-color: transparent;
      cursor: pointer;
      &:hover svg {
        transform: scale(1.3);
      }
      @media (min-width: $media-md) {
        width: 56px;
        height: 56px;
      }

      svg {
        transition: transform 0.3s;
        width: 45%;
        fill: #fff;
      }
    }

    &__left {
      margin-bottom: 10px;
      @media (min-width: $media-xl) {
        right: 100%;
        margin-bottom: 0;
      }
    }

    &__right {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      @media (min-width: $media-xl) {
        right: 2px;
      }
    }
  }
</style>
