//Переход между страницами лендинга
.landingNext-enter-active {
  transition: transform 0s step-start;
}

.landingNext-leave-active {
  transition: all 0.8s ease-in;
  z-index: 8;
}

.landingNext-enter {
  transform: translateY(-100vh);
}

.landingNext-leave-to {
  transform: translateY(-100vh);
}

.landingPrev-enter-active {
  transition: transform 0s step-start;
}

.landingPrev-leave-active {
  transition: all 0.8s ease-in;
  z-index: 8;
}

.landingPrev-enter {
  transform: translateY(-100vh);
}

.landingPrev-leave-to {
  transform: translateY(-100vh);
}

// Появление статей в блоге
.showBlog-enter {
  transform: translateY(200px);
  opacity: 0;
}

// Появление статей в услугах
.showArt-enter {
  transform: translateY(200px);
  opacity: 0;
}

// Появление кейсов в портфолио
.slideNext-enter-active,
.slidePrev-enter-active {
    transition: transform 0s step-start;
}

.slideNext-leave-active,
.slidePrev-leave-active {
    transition: all 0.5s ease-in;
    z-index: 2;
}

.slideNext-enter {
    transform: translateX(-100%);
}
.slidePrev-enter {
    transform: translateX(100%);
}

.slideNext-leave-to {
    transform: translateX(-100%);
}
.slidePrev-leave-to {
    transform: translateX(100%);
}
