@font-face {
  font-family: SFUIDisplay Thin;
  src: url("/fonts/SFUIDisplay-Thin.otf");
}

@font-face {
  font-family: SFUIDisplay Bold;
  src: url("/fonts/SFUIDisplay-Bold.otf");
}

@font-face {
  font-family: SFUIDisplay Regular;
  src: url("/fonts/SFUIDisplay-Regular.otf");
}

@font-face {
  font-family: SFUIDisplay Medium;
  src: url("/fonts/SFUIDisplay-Medium.otf");
}

@font-face {
  font-family: SFUIDisplay Light;
  src: url("/fonts/SFUIDisplay-Light.otf");
}
