@import "setting.scss";

body,
html {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#__nuxt {
  width: 100%;
  height: 100%;
}

.landing-container {
  width: 100%;
  height: 100%;
  display: flex;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.my-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 1px;
  // padding-left: 15px;
  // padding-right: 15px;
  margin: 0 auto;

  &_sb {
    justify-content: space-between;
  }
  @media (min-width: $media-sm) {
    width: $media-sm;
  }
  @media (min-width: $media-md) {
    width: $media-md;
  }
  @media (min-width: $media-lg) {
    width: $media-lg;
  }
  @media (min-width: $media-xl) {
    width: $media-lg;
  }
}

.btn {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  display: inline-block;
  padding: 14px 18px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: SFUIDisplay Bold;
  line-height: 1.2;
  border-width: 2px;
  border-style: solid;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);

  &:hover {
    outline: none;
    color: rgb(70, 128, 255);
    background-color: rgb(255, 255, 255);
  }
}
