<template>
<div class="contacts-line">
  <a :href="'tel:+' + $store.state.contacts.phone" class="contacts-line__link">
        <svg class="i-phone" viewBox="0 0 20 20">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
        </svg>
      <span>{{$store.state.contacts.phone}}</span>
    </a>
  <a :href="'skype:' + $store.state.contacts.skype" class="contacts-line__link">
    <svg class="i-skype" viewBox="0 0 25 24">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype"></use>
    </svg>
      <span>{{$store.state.contacts.skype}}</span>
    </a>
  <a :href="'mailto:' + $store.state.contacts.email" class="contacts-line__link">
    <svg class="i-email" viewBox="0 0 29 21">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#email"></use>
    </svg>
      <span>{{$store.state.contacts.email}}</span>
    </a>
</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import "../../assets/setting.scss";
.contacts-line {
    display: flex;
    flex-direction: column;
    @media (min-width: $media-sm) {
        flex-direction: row;
        align-items: center;
    }
    &__link {
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        font-family: SFUIDisplay Bold;
        color: rgb(70, 128, 255);
        line-height: 20px;
        padding: 0 (10px / 2);
        white-space: nowrap;
        @media (min-width: $media-sm) {
            width: auto;
            font-size: 16px;
            padding: 0 10px;
        }
    }
    svg {
        fill: rgb(177, 201, 255);
        margin-right: 10px;
    }
    .i-phone {
        width: (20px / 1.5);
        @media (min-width: $media-sm) {
            width: 20px;
        }
    }
    .i-skype {
        width: (25px / 1.5);
        @media (min-width: $media-sm) {
            width: 25px;
        }
    }
    .i-email {
        width: (29px / 1.5);
        @media (min-width: $media-sm) {
            width: 29px;
        }
    }
}
</style>
