<template>
  <form class="contacts-form" @submit.prevent="submitForm">
    <div class="contacts-form__block">
      <input :class="{'contacts-form__error': errors.has('name')}" v-validate="'required'" type="text"
             placeholder="Ваше имя" name="name" v-model.lazy="form.name">
    </div>
    <div class="contacts-form__block">
      <input :class="{'contacts-form__error': errors.has('email')}" v-validate="'required|email'" type="text"
             placeholder="Ваш Email" name="email" v-model.lazy="form.email">
    </div>
    <div class="contacts-form__block">
      <input type="text" placeholder="Текст сообщения" v-model.lazy="form.text">
    </div>
    <div class="contacts-form__block">
      <input id="checkbox" class="checkbox-input" type="checkbox" hidden
             v-validate="'required'" v-model.lazy="check" name="checkbox">
      <label for="checkbox" class="checkbox"
             :class="{'contacts-form__error': errors.has('checkbox')}">Согласие на обработку персональных данных</label>
    </div>
    <div class="contacts-form__block">
      <button class="contacts-form__btn btn" type="submit">
        <span v-if="isSubmit">отправить</span>
        <span v-else>отправка...</span>
      </button>
    </div>
  </form>
</template>

<script>
  export default {
    data () {
      return {
        form: {
          name: '',
          email: '',
          text: ''
        },
        check: false,
        isSubmit: true
      }
    },
    methods: {
      submitForm: function () {
        this.$validator.validateAll().then((result) => {
          if (result && this.isSubmit) {
            this.isSubmit = false
            this.$axios.post('api/mail', this.form).then((res) => {
              console.log(res)
              for (let index in this.form) {
                this.form[index] = ''
              }
              this.isSubmit = true
            }, (err) => {
              console.log(err)
              this.isSubmit = true
            })
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  @import "../../assets/setting.scss";

  .contacts-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $media-sm) {
      width: 406px;
    }
    &__block {
      width: 100%;
      display: flex;
      justify-content: center;
      &:nth-child(2), &:nth-child(3) {
        margin-top: (35px / 2);
        @media (min-width: $media-sm) {
          margin-top: 35px;
        }
      }
      &:last-child {
        margin-top: (60px / 4);
        @media (min-width: $media-sm) {
          margin-top: 60px;
        }
      }
    }
    input {
      width: 100%;
      font-family: SFUIDisplay Thin;
      line-height: 22px;
      font-size: 16px;
      background: none;
      border: none;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: rgb(177, 201, 255);
      color: rgb(70, 128, 255);
      box-shadow: none;
      overflow: hidden;
      &::placeholder {
        color: rgb(177, 201, 255);
      }
      &:focus {
        outline: none;
        border-bottom-color: rgb(70, 128, 255);
      }
    }
    &__error {
      color: #ff8a80 !important;
      border-bottom-color: #ff8a80 !important;
    }
    &__btn {
      padding: (20px / 2) 24px;
      width: 100%;
      color: rgb(70, 128, 255);
      border-color: rgb(70, 128, 255);
      &:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(70, 128, 255);
      }
      @media (min-width: $media-sm) {
        padding: 20px 24px;
        width: auto;
      }
    }
    .checkbox-input {
      display: none;
    }
  }
  .checkbox-input + .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-family: SFUIDisplay Bold;
    line-height: 16px;
    font-size: 12px;
    color: rgb(70, 128, 255);
    cursor: pointer;
    user-select: none;
    @media (min-width: $media-sm) {
      line-height: 22px;
      font-size: 16px;
    }
    &:before {
      margin-right: 15px;
      content: '';
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid rgb(70, 128, 255);
      transition: background-color .3s;
    }
  }
  .checkbox-input:checked + .checkbox {
    &:before {
      background-color: rgb(70, 128, 255);
    }
  }
</style>
