<template>
<div class="social-line">
  <a :href="$store.state.contacts.vk" class="social-line__link">
        <svg class="i-vk" viewBox="0 0 25 15">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
        </svg>
    </a>
  <a :href="$store.state.contacts.fb" class="social-line__link">
    <svg class="i-fb" viewBox="0 0 10 21">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
    </svg>
    </a>
  <a :href="$store.state.contacts.insta" class="social-line__link">
    <svg class="i-insta" viewBox="0 0 24 25">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
    </svg>
    </a>
  <a :href="$store.state.contacts.telega" class="social-line__link">
    <svg class="i-telega" viewBox="0 0 24 25">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#telega"></use>
    </svg>
    </a>
</div>
</template>

<script>
export default {}
</script>

<style lang="scss">
@import "../../assets/setting.scss";
.social-line {
    margin-top: (60px / 3);
    display: flex;
    @media (min-width: $media-sm) {
        margin-top: 60px;
    }
    &__link {
        padding: 0 11px;
        display: flex;
        align-items: center;
        svg {
            fill: rgb(70, 128, 255);
        }
    }
    .i-vk {
      width: (25px / 1.5);
      @media (min-width: $media-sm) {
        width: 25px;
      }
    }
    .i-fb {
      width: (10px / 1.5);
      @media (min-width: $media-sm) {
        width: 10px;
      }
    }
    .i-insta {
      width: (24px / 1.5);
      @media (min-width: $media-sm) {
        width: 24px;
      }
    }
    .i-telega {
      width: (24px / 1.5);
      @media (min-width: $media-sm) {
        width: 24px;
      }
    }
}
</style>
