<template>
  <section class="landing-container" v-on:wheel="scrollFunction" v-touch:swipe.top="swipeNext"
           v-touch:swipe.bottom="swipePrev">
    <ScrollPoint/>
    <SVGTemplate/>
    <Logo v-show="$store.state.logo.displayLogo"></Logo>
    <MainMenu></MainMenu>
    <LandingNav v-show="$store.state.nav.displayNav"></LandingNav>
    <Mail/>
    <nuxt/>
  </section>
</template>

<script>
  import ScrollPoint from '~/components/ScrollPoint'
  import SVGTemplate from '~/components/Svg'
  import Logo from '~/components/Logo'
  import MainMenu from '~/components/Menu'
  import Mail from '~/components/Mail'
  import LandingNav from '~/components/LandingNav'

  export default {
    components: {
      ScrollPoint,
      SVGTemplate,
      Logo,
      MainMenu,
      Mail,
      LandingNav
    },
    data () {
      return {
        next: 0,
        prev: 0,
        navLength: 0
      }
    },
    methods: {
      swipeNext: function () {
        if (this.$store.state.scroll.isEnd) {
          this.getNextAndPrevId()
          this.scrollTop()
        }
      },
      swipePrev: function () {
        if (this.$store.state.scroll.isEnd) {
          this.getNextAndPrevId()
          this.scrollBot()
        }
      },
      scrollFunction: function (event) {
        if (this.$store.state.scroll.isEnd) {
          this.getNextAndPrevId()
          if (event.deltaY > 0) {
            this.scrollTop()
          } else {
            this.scrollBot()
          }
        }
      },
      getNextAndPrevId: function () {
        this.navLength = this.$store.state.nav.navigation.length
        for (let i = 0; i < this.navLength; i++) {
          if (this.$store.state.nav.navigation[i].name === this.$route.name) {
            this.next = i + 1
            this.prev = i - 1
          }
        }
      },
      scrollTop: function () {
        if (this.next <= this.$store.state.nav.navigation.length - 1) {
          this.$router.push({
            name: this.$store.state.nav.navigation[this.next].name
          })
        }
      },
      scrollBot: function () {
        if (this.prev >= 0) {
          this.$router.push({
            name: this.$store.state.nav.navigation[this.prev].name
          })
        }
      }
    },
    created () {
      if (this.$route.name !== 'index') {
        this.$store.commit('logo/showLogo')
        this.$store.commit('nav/showNav')
      }
      this.$router.beforeEach((to, from, next) => {
        this.$store.commit('scroll/animationStart')
        next()
      })
    }
  }
</script>
