<template>
  <div class="blog" :class="{'blog_neon': $store.state.paw.isThemeNeon}">
    <div class="my-container">
      <vue-no-ssr>
        <vue-carousel ref="my-carousel" :loop="true" :paginationEnabled="false" :perPageCustom="[[0, 1], [768, 2]]"
                      :scrollPerPage="true">
          <vue-slide v-for="(item, index) in blogs" :key="index">
            <transition appear name="showBlog">
              <BlogArticle :blog="item" :isLg="mediaIsLg" v-show="$store.state.scroll.isEnd"></BlogArticle>
            </transition>
          </vue-slide>
        </vue-carousel>
      </vue-no-ssr>
    </div>
    <SlideArrows :prevSlide="prevSlide" :nextSlide="nextSlide"></SlideArrows>
  </div>
</template>

<script>
  import SlideArrows from '~/components/SlideArrows'
  import BlogArticle from '~/components/landingBlog/Article'

  export default {
    components: {
      SlideArrows,
      BlogArticle
    },
    async asyncData ({app}) {
      const blogs = await app.$axios.$get('api/blogs')
      return {
        blogs
      }
    },
    data () {
      return {
        mediaIsLg: false
      }
    },
    methods: {
      prevSlide: function () {
        this.$refs['my-carousel'].goToPage(this.$refs['my-carousel'].getPreviousPage())
      },
      nextSlide: function () {
        this.$refs['my-carousel'].goToPage(this.$refs['my-carousel'].getNextPage())
      },
      handleResize (event) {
        if (window.innerWidth < 768) {
          this.mediaIsLg = false
        } else {
          this.mediaIsLg = true
        }
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.commit('colors/setWhite')
        if (vm.$store.state.paw.isThemeNeon) {
          vm.$store.commit('colors/setColorNav', ['rgb(255, 255, 255)', 'rgb(143, 42, 40)'])
        } else {
          vm.$store.commit('colors/setColorNav', ['rgb(255, 255, 255)', 'rgb(48, 89, 179)'])
        }
        if (window.innerWidth < 768) {
          vm.mediaIsLg = false
        } else {
          vm.mediaIsLg = true
        }
      })
    },
    mounted: function () {
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
    }
  }
</script>

<style lang="scss">
  @import "../assets/setting.scss";

  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(70, 128, 255);
    &_neon {
      background-color: rgb(235, 66, 111);
      background-repeat: no-repeat;
      background-position: center;
      @media (orientation: portrait) {
        background-image: url('/landingBlog/neon_blog_img_vertical.png'), url('/landingBlog/neon_blog_vertical_bg.png');
        background-size: 100% 100%;
      }
      @media (orientation: landscape) {
        background-image: url('/landingBlog/neon_bg_blog.png'), url('/landingBlog/neon_blog_img.png');
        background-size: cover;
      }
      .blog-article {
        &__day {
          color: rgb(143, 42, 40);
        }
      }
    }
    & .my-container {
      height: 60%;
      padding-left: 45px;
      padding-right: 55px;
      align-items: center;
      justify-content: center;
      @media (min-width: $media-sm) {
        padding: 0 70px;
      }
    }
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .VueCarousel {
      width: 100%;
    }
    .custom-appear-class, .custom-appear-to-class, .custom-appear-active-class {
      opacity: 1;
      transition: opacity 1.5s;
    }
  }
</style>
