<template>
  <div class="contacts" :class="{'contacts_neon': $store.state.paw.isThemeNeon}">
    <div class="my-container contacts__container">
      <CallBackForm></CallBackForm>
      <div class="contacts__block">
        <ContactLine></ContactLine>
        <SocialLine></SocialLine>
      </div>
    </div>
    <Copyright></Copyright>
  </div>
</template>

<script>
  import CallBackForm from '~/components/contacts/Form'
  import ContactLine from '~/components/contacts/ContactLine'
  import SocialLine from '~/components/contacts/SocialLine'
  import Copyright from '~/components/Copyright'

  export default {
    components: {
      CallBackForm,
      ContactLine,
      SocialLine,
      Copyright
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.paw.isThemeNeon) {
          vm.$store.commit('colors/setWhite')
          vm.$store.commit('colors/setColorNav', ['rgb(255, 255, 255)', 'rgba(255, 255, 255, 0.251)'])
        } else {
          vm.$store.commit('colors/setBlue')
          vm.$store.commit('colors/setColorNav', ['rgb(70, 128, 255)', 'rgb(219, 227, 255)'])
        }
      })
    }
  }
</script>

<style lang="scss">
  @import "../assets/setting.scss";

  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
    &_neon {
      background-color: rgb(114, 32, 237);
      background-image: url('/contacts/bg_mail2.png'), url('/contacts/neon_collback_bg.png');
      background-size: cover, 100% 100%;
      background-position: 0%, 50%;
      .contacts-form input {
        border-bottom-color: rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        &::placeholder {
          color: rgb(255, 255, 255);
        }
        &:focus {
          outline: none;
          border-bottom-color: rgb(255, 255, 255);
        }
      }
      .contacts-form__btn {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        &:hover {
          color: rgb(70, 128, 255);
          background-color: rgb(255, 255, 255);
        }
      }
      .contacts-line {
        &__link {
          color: rgb(255, 255, 255);
          svg {
            fill: rgb(255, 255, 255);
            opacity: 0.251;
          }
        }
      }
      .social-line svg {
        fill: rgb(255, 255, 255);
      }
      .copyright {
        color: #fff;
      }
      .checkbox-input + .checkbox {
        color: rgb(255, 255, 255);
        &:before {
          border: 2px solid rgb(255, 255, 255);
        }
      }
      .checkbox-input:checked + .checkbox {
        &:before {
          background-color: rgb(255, 255, 255);
        }
      }
    }
    &__container {
      padding: 0 60px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: $media-sm) {
        padding: 0 50px;
      }
    }
    &__block {
      margin-top: (93px / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: $media-sm) {
        margin-top: 93px;
      }
      @media (orientation: landscape) and (max-width: $media-sm - 1) {
        flex-direction: row;
        .social-line {
          margin: 0;
        }
      }
    }
  }
</style>
