<template>
  <div class="main" :class="{'main_neon': $store.state.paw.isThemeNeon}">
    <PawSvg/>
    <router-link class="main__scroll" :to="{ name: 'services'}"></router-link>
    <svg class="main__nekoneko" viewBox="0 0 559 126">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#nekoneko"></use>
    </svg>
  </div>
</template>

<script>
  import PawSvg from '~/components/Paw'

  export default {
    components: {
      PawSvg
    },
    created () {
      this.$store.commit('logo/hiddeLogo')
      this.$store.commit('nav/hiddeNav')
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.commit('logo/hiddeLogo')
        vm.$store.commit('nav/hiddeNav')
        vm.$store.commit('colors/setWhite')
      })
    },
    beforeRouteLeave (to, from, next) {
      this.$store.commit('logo/showLogo')
      this.$store.commit('nav/showNav')
      next()
    }
  }
</script>

<style lang="scss">
  @import "../assets/setting.scss";

  .main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 157, 251);

    &:after,
    &:before {
      content: "";
      transition: opacity 0.5s;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:after {
      background-image: url("/main/main_dots.png"), linear-gradient(90deg, rgb(24, 157, 251) 0%, rgb(88, 0, 212) 100%);
      // background-image: url("/main/main_dots.png"), -moz-linear-gradient( 0deg, rgb(24, 157, 251) 0%, rgb(88, 0, 212) 100%);
      // background-image: url("/main/main_dots.png"), linear-gradient( 90deg, rgb(24, 157, 251) 0%, rgb(88, 0, 212) 100%);
      // background-image: url("/main/main_dots.png"), -ms-linear-gradient( 0deg, rgb(24, 157, 251) 0%, rgb(88, 0, 212) 100%);
    }

    &:before {
      z-index: 1;
      background-image: url("/main/neon_nekoneko_sm.png");
      background-position: center;
      @media screen and (orientation: portrait) {
        background-size: 130%;
        background-position-y: 50%;
        background-position-x: -15vw;
      }
      @media (min-width: $media-sm) {
        background-image: url("/main/neon_nekoneko_md.png");
      }
      @media (min-width: $media-lg) {
        background-image: url("/main/neon_nekoneko.png");
      }
    }

    &_neon {
      &:after,
      &:before {
        opacity: 1;
      }
    }

    &__nekoneko {
      width: 559px;
      padding: 0 15px;
      position: relative;
      z-index: 1;
      fill: #fff;
      @media (min-width: $media-lg) {
        width: 33%;
      }
    }

    &__scroll {
      position: absolute;
      z-index: 1;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 25px;
      width: 29px;
      height: 40px;
      padding: 5px;
      border: 2px solid #fff;
      border-radius: 45px;
      display: block;

      &:after {
        content: "scroll";
        position: relative;
        top: 35px;
        right: 8px;
        color: #fff;
        animation: blink 2s infinite;
      }

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 11px;
        width: 2px;
        height: 6px;
        padding: 1px;
        background: #fff;
        border-radius: 8px;
        animation: timing 2s infinite;
        color: #FFF;
      }
    }
    @keyframes timing {
      100% {
        top: 20%;
        margin-top: 10px;
      }
    }
    @keyframes blink {
      from {
        color: #fff;
      }

      to {
        color: transparent;
      }
    }
  }

</style>
