<template>
  <div class="portfolio">
    <transition :name="animName">
      <Wrapper :item="portfolio[firstSlide]" v-show="isChange"></Wrapper>
    </transition>
    <transition :name="animName">
      <Wrapper :item="portfolio[secondSlide]" v-show="!isChange"></Wrapper>
    </transition>
    <div class="my-container my-container_desc">
      <Description :item="portfolio[0]" :changeItem="changeDesc" :time="changeTime"></Description>
    </div>
    <Pagination :items="portfolio" :activeIndex="activeIndex"></Pagination>
    <SlideArrows :prevSlide="prevSlide" :nextSlide="nextSlide"></SlideArrows>
  </div>
</template>

<script>
  import Wrapper from '~/components/portfolio/Wrapper'
  import Description from '~/components/portfolio/Description'
  import Pagination from '~/components/portfolio/Pagination'
  import SlideArrows from '~/components/SlideArrows'

  export default {
    components: {
      Wrapper,
      Description,
      Pagination,
      SlideArrows
    },
    async asyncData ({app}) {
      const portfolio = await app.$axios.$get('api/portfolio')
      return {
        portfolio: portfolio.splice(0, 3)
      }
    },
    data () {
      return {
        isChange: true,
        changeTime: 500,
        changeIsActive: false,
        animName: 'slideNext',
        firstSlide: 0,
        secondSlide: 0
      }
    },
    computed: {
      changeDesc () {
        if (this.isChange) {
          return this.portfolio[this.firstSlide]
        } else {
          return this.portfolio[this.secondSlide]
        }
      },
      activeIndex () {
        if (this.isChange) {
          return this.firstSlide
        } else {
          return this.secondSlide
        }
      }
    },
    methods: {
      prevSlide: function () {
        if (!this.changeIsActive) {
          if (this.isChange) {
            if (this.firstSlide > 0) {
              this.secondSlide = this.firstSlide - 1
              this.changeSlide('slidePrev')
            }
          } else {
            if (this.secondSlide > 0) {
              this.firstSlide = this.secondSlide - 1
              this.changeSlide('slidePrev')
            }
          }
        }
      },
      nextSlide: function () {
        if (!this.changeIsActive) {
          if (this.isChange) {
            if (this.firstSlide < this.portfolio.length - 1) {
              this.secondSlide = this.firstSlide + 1
              this.changeSlide('slideNext')
            }
          } else {
            if (this.secondSlide < this.portfolio.length - 1) {
              this.firstSlide = this.secondSlide + 1
              this.changeSlide('slideNext')
            }
          }
        }
      },
      changeSlide: function (animName) {
        this.animName = animName
        this.isChange = !this.isChange
        this.changeIsActive = true
        setTimeout(() => {
          this.changeIsActive = false
        }, this.changeTime)
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.$store.commit('colors/setWhite')
        vm.$store.commit('colors/setColorNav', ['rgb(255, 255, 255)', 'rgb(48, 89, 179)'])
      })
    }
  }
</script>

<style lang="scss">
  @import "../assets/setting.scss";

  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgb(42, 41, 61);
    & .my-container {
      height: 60%;
      padding-left: 45px;
      padding-right: 55px;
      &_desc {
        align-items: center;
        justify-content: flex-end;
      }
      @media (min-width: $media-sm) {
        padding: 0 70px;
      }
      @media (min-width: $media-xl) {
        padding: 0;
      }
    }
  }
</style>
