<template>
  <div class="services" :class="{'services_neon': $store.state.paw.isThemeNeon}">
    <div class="my-container">
      <vue-no-ssr>
        <vue-carousel ref="my-carousel" :loop="true" :paginationEnabled="false" :perPageCustom="[[0, 1], [768, 3]]"
                      :scrollPerPage="true">
          <vue-slide v-for="(item, index) in article" key="index">
            <transition appear name="showArt">
              <ServArt :art="item" v-show="$store.state.scroll.isEnd"></ServArt>
            </transition>
          </vue-slide>
        </vue-carousel>
      </vue-no-ssr>
    </div>
    <SlideArrows :prevSlide="prevSlide" :nextSlide="nextSlide"></SlideArrows>
  </div>
</template>

<script>
  import ServArt from '~/components/services/Article'
  import SlideArrows from '~/components/SlideArrows'

  export default {
    components: {
      ServArt,
      SlideArrows
    },
    async asyncData ({app}) {
      const article = await app.$axios.$get('api/services')
      return {
        article: article
      }
    },
    data () {
      return {
        isClient: process.browser
      }
    },
    methods: {
      prevSlide: function (e) {
        this.$refs['my-carousel'].goToPage(this.$refs['my-carousel'].getPreviousPage())
      },
      nextSlide: function () {
        this.$refs['my-carousel'].goToPage(this.$refs['my-carousel'].getNextPage())
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.paw.isThemeNeon) {
          vm.$store.commit('colors/setWhite')
          vm.$store.commit('colors/setColorNav', ['rgb(255, 255, 255)', 'rgb(64, 193, 255)'])
        } else {
          vm.$store.commit('colors/setBlue')
          vm.$store.commit('colors/setColorNav', ['rgb(70, 128, 255)', 'rgb(174, 199, 255)'])
        }
      })
    }
  }
</script>


<style lang="scss">
  @import "../assets/setting.scss";

  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &_neon {
      background-color: rgb(0, 18, 253);
      background-image: url('/services/neon_service_bg.png');
      background-size: 100% 100%;
      .service-article {
        &__title {
          color: #fff;
        }
        &__content {
          color: #fff;
        }
      }
    }

    .my-container {
      padding-left: 30px;
      padding-right: 40px;
      @media (min-width: $media-sm) {
        padding-left: 60px;
        padding-right: 60px;
      }
      @media (min-width: 1400px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    & .arrow {
      @media (min-width: $media-sm) {
        display: none;
      }
    }

    .VueCarousel {
      width: 100%;
      &-wrapper {
        @media (min-width: $media-sm) {
          overflow: visible;
        }
      }
      &-slide {
        &:nth-child(1) {
          .service-article__mask {
            right: -5px;
            top: 20px;
            &:before {
              width: 550px;
              background-image: url("/services/shadows_mask.png");
              background-position: 50px 0;
              right: -46px;
            }

            img {
              width: 313px;
            }
          }
        }
        &:nth-child(2) {
          .service-article__mask {
            &:before {
              width: 399px;
              background-image: url("/services/shadows_mask.png");
              background-position: -510px 0;
              right: -46px;
            }

            img {
              width: 289px;
              left: 10px;
              top: 2px;
            }
          }
        }
        &:nth-child(3) {
          .service-article__mask {
            right: 24px;
            &:before {
              width: 500px;
              background-image: url("/services/shadows_mask.png");
              background-position: -910px 0;
              right: -166px;
            }

            img {
              width: 315px;
              left: 26px;
              top: 3px;
            }
          }
        }
      }
    }
  }
</style>
