<template>
<div class="browser">
  <div class="browser__header">
    <div class="browser__ellips">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="browser__body">
    <a href="#">
      <img :src="`/portfolio/${item.img.browser}`" alt="браузер">
    </a>
  </div>
  <div class="browser__footer"></div>
</div>
</template>

<script>
export default {
  props: ["item"]
}
</script>

<style lang="scss">
@import "../../assets/setting.scss";
.browser {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px 0 #0e0e14;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: $media-md) {
        width: 65%;
        box-shadow: 0 0 80px 0 #0e0e14;
    }
    &__header {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #363447;
        height: 20px;
        @media (min-width: $media-md) {
            height: 40px;
        }
    }
    &__ellips {
        div {
            height: 8px;
            width: 8px;
            float: left;
            border-radius: 50%;
            margin-left: 14px;
            background-color: #292833;
            @media (min-width: $media-md) {
                height: 15px;
                width: 15px;
            }
        }
    }
    &__body {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(42, 41, 61);
        overflow: hidden;
        a {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
        img {
            position: absolute;
            height: 100%;
        }
    }
    &__footer {
        flex-shrink: 0;
        background-color: #363447;
        height: 10px;
        width: 100%;
        bottom: 0;
        @media (min-width: $media-md) {
            height: 20px;
        }
    }
}
</style>
