<template>
<div class="discription">
  <h3>клиент</h3>
  <div class="discription__line"></div>
  <p>{{client || item.desc.client}}</p>
  <h3>проект</h3>
  <div class="discription__line"></div>
  <p>{{project || item.desc.project}}</p>
  <h3>услуги</h3>
  <div class="discription__line"></div>
  <p><span v-for="serv in services || this.item.desc.services">{{serv}}</span></p>
  <div class="discription__block">
    <a class="discription__btn btn" href="#">подробнее</a>
  </div>
</div>
</template>

<script>
export default {
  props: ["item", "changeItem", "time"],
  data() {
    return {
      client: false,
      project: false,
      services: false
    }
  },
  watch: {
    changeItem: function(newVal, oldVal) {
      var elms = this.$el.children
      for (let i = 0; i < elms.length; i++) {
        if (elms[i].localName == 'p') {
          Velocity(elms[i], {
            opacity: 0
          }, {
            duration: this.time / 2,
            complete: () => {
              this.client = newVal.desc.client
              this.project = newVal.desc.project
              this.services = newVal.desc.services
            }
          })
          Velocity(elms[i], {
            opacity: 1
          }, {
            duration: this.time / 2
          })
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/setting.scss";
.discription {
    width: 25%;
    position: relative;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $media-md) {
        display: flex;
        height: 360px;
    }
    h3 {
        margin: 0;
        line-height: 1.2;
        font-size: 24px;
        letter-spacing: 1.8px;
        font-family: SFUIDisplay Bold;
        color: rgb(255, 255, 255);
        text-align: left;
        text-transform: uppercase;
    }
    &__line {
        background-color: #ffffff;
        height: 1px;
        flex-shrink: 0;
    }
    p {
        margin: 0;
        font-family: SFUIDisplay Thin;
        font-size: 16px;
        text-align: right;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        &:first-letter {
            text-transform: uppercase;
        }
        span {
            &:before {
                content: ", ";
            }
            &:first-child:before {
                content: none;
            }
        }
    }
    &__block {
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
    }
    &__btn {
        margin-top: 20px;
    }
}
</style>
