<template>
  <div class="pagination">
    <div class="pagination__wrapper" :style="{transform: 'translateX(' + position[activeIndex] + ')'}">
      <div class="pagination__block" v-for="(item, index) in items"
           :class="{'pagination__block_active': index == activeIndex}">
        <h3>{{item.pagination.name}}</h3>
        <p>{{item.pagination.desc}}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['items', 'activeIndex'],
    data () {
      return {
        position: ['33%', 0, '-33%']
      }
    }
  }
</script>

<style lang="scss">
  @import "../../assets/setting.scss";

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    &__wrapper {
      width: 100%;
      display: flex;
      transition: transform 0.5s;
      @media (min-width: $media-sm) {
        width: auto;
      }

    }
    &__block {
      width: 33.3333%;
      padding: 0 10px;
      color: rgb(63, 118, 235);
      &_active {
        color: #fff;
      }
      @media (min-width: $media-sm) {
        padding: 0 30px;
      }
    }
    h3 {
      margin: 0;
      font-family: SFUIDisplay Bold;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1.2;
      white-space: nowrap;
      text-align: left;
      @media (min-width: $media-xs) {
        font-size: 14px;
      }
      @media (min-width: $media-sm) {
        font-size: 20px;
      }
      @media (min-width: $media-md) {
        font-size: 24px;
      }
    }
    p {
      margin: 0;
      font-family: SFUIDisplay Thin;
      font-size: 10px;
      text-align: left;
      line-height: 1.5;
      white-space: nowrap;
      &:first-letter {
        text-transform: uppercase;
      }
      @media (min-width: $media-xs) {
        font-size: 14px;
      }
      @media (min-width: $media-sm) {
        font-size: 16px;
      }
    }
  }
</style>
