<template>
  <div class="wrapper" :style="{'background-image': `url('/portfolio/${item.img.bg} ')`}">
    <div class="my-container my-container_wrapper">
      <div class="wrapper__title"><img :src="`/portfolio/${item.img.title}`" alt="gomoneycash"></div>
      <Browser :item="item"></Browser>
    </div>
  </div>
</template>

<script>
  import Browser from '~/components/portfolio/Browser'

  export default {
    props: ['item'],
    components: {
      Browser
    }
  }
</script>

<style lang="scss">
  @import "../../assets/setting.scss";

  .wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
      position: absolute;
      width: 100%;
      transform: translateY(-80%);
      padding-right: 110px;
      @media (min-width: $media-sm) {
        padding-right: 140px;
      }
      @media (min-width: $media-xl) {
        padding-right: 0;
      }
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
</style>
