<template>
  <article class="service-article">
    <div class="service-article__img">
      <img :src="`/services/${art.img[0]}`" :alt="art.title" v-if="$store.state.paw.isThemeNeon">
      <img :src="`/services/${art.img[1]}`" :alt="art.title" v-else>
    </div>
    <h3 class="service-article__title">{{art.title}}</h3>
    <p class="service-article__content">{{art.content}}</p>
    <div class="service-article__mask" v-if="$store.state.paw.isThemeNeon">
      <img :src="`/services/${art.imgMask}`" alt="Маска">
    </div>
  </article>
</template>

<script>
  export default {
    props: ['art']
  }
</script>

<style lang="scss">
  @import "../../assets/setting.scss";

  .service-article {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    padding: 0 15px;
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: $media-sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: $media-md) {
      padding: 0 25px;
    }
    @media (min-width: $media-lg) {
      padding: 0 45px;
    }
    &:first-child .services__img img {
      @media (min-width: $media-sm) {
        position: relative;
        top: -5px;
      }
    }

    &__img {
      margin-bottom: 15px;
      display: flex;
      align-self: center;
      float: left;
      @media (orientation: landscape) {
        margin-bottom: 0;
        margin-right: 10px;
      }
      @media (min-width: $media-sm) {
        height: 158px;
        display: flex;
        align-items: flex-end;
      }
      @media (min-width: $media-md) {
        margin-bottom: 60px;
      }
    }

    &__title {
      margin-top: 0;
      margin-bottom: 15px;
      color: rgb(70, 128, 255);
      font-size: 26px;
      font-family: SFUIDisplay Bold;
      text-transform: uppercase;
      text-align: center;
      @media (min-width: $media-xs) {
        font-size: 30px;
      }
      @media (min-width: $media-md) {
        margin-bottom: 36px;
      }
      @media (max-width: 767px) and (orientation: landscape) {
        font-size: 20px;
      }
    }

    &__content {
      margin: 0;
      color: rgb(70, 128, 255);
      font-family: SFUIDisplay Thin;
      font-size: 16px;
      line-height: 1.3;
      text-align: justify;
      // word-break: break-all;
      @media (min-width: $media-xs) {
        line-height: 1.5;
      }
    }

    &__mask {
      display: none;
      position: relative;
      width: 314px;
      height: 293px;
      margin-top: 52px;
      @media (max-height: 800px) {
        margin-top: 0;
      }
      &:before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        height: 533px;
        top: -95px;
      }

      img {
        opacity: 0;
        position: absolute;
        transition: opacity 1s;
        &:hover {
          opacity: 1;
        }
      }
      @media(min-width: 1400px) {
        display: block;
      }
    }
  }
</style>
